body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f7fa;
}
.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 950px;
  background-color: #ffffff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
/* main content section */
.main-content-section {
  padding: 80px 70px;
}
.main-content-title {
  font-style: Bold;
  font-size: 22px;
  line-height: 27px;
  color: black;
  margin-bottom: 10px;
}
/* about me section */
.about-me-section {
  margin-bottom: 40px;
}
.about-me-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: black;
  margin-bottom: 20px;
}
.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: black;
  margin-bottom: 25px;
}
.about-me-description {
  font-style: Regular;
  font-size: 14px;
  line-height: 24px;
  width: 400px;
  color: #595959;
}
/* my project section */
.my-project-section {
  margin-bottom: 50px;
}
.my-project-list {
  padding: 0 0 0 17px;
}
.my-project-item {
  color: black;
  font-weight: bold;
}
.my-project-text {
  font-style: Regular;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.my-project-link {
  font-style: Regular;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  margin-left: 5px;
  color: #595959;
}
.my-project-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: black;
}
/* my work experience */
.my-work-experience-section {
  margin-bottom: 45px;
}
.my-work-experience-company {
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
}
.my-work-experience-position {
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
  color: black;
}
.my-work-experience-divider {
  color: black;
}
.my-work-experience-period {
  font-style: Regular;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 10px;
  color: #9298a1;
}
.my-work-experience-duties {
  padding-left: 10px;
}
.my-work-experience-duty {
  font-style: Regular;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.my-work-experience-company-block {
  margin-bottom: 15px;
}
/* my education section */
.my-education {
  font-style: Bold;
  font-size: 14px;
  line-height: 17px;
  margin: 10px 0 10px 0;
  color: black;
}
/* sidebar section */
.sidebar-section {
  background-color: #1e2939;
  width: 370px;
  padding: 40px 0px;
}
.contacts-section,
.tech-skills-section,
.soft-skills-section {
  margin: 50px 0px 0px 40px;
}
.sidebar-title {
  font-style: normal;
  font-weight: hold;
  font-size: 22px;
  line-height: 27px;
  color: white;
  margin-bottom: 10px;
}
/* contacts section */
.contacts-section-type {
  font-style: Bold;
  font-size: 14px;
  line-height: 24px;
  color: white;
  margin-right: 7px;
}
.contacts-section-link {
  color: white;
  font-style: Regular;
  font-size: 14px;
  line-height: 24px;
}
/* tech & soft skills section */
.tech-skills-list,
.soft-skills-list {
  padding-left: 17px;
}
.tech-skills-item,
.soft-skills-item {
  color: #fb6d3a;
}
.tech-skills-text,
.soft-skills-text {
  font-style: Regular;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
